* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1;
}

button {
  cursor: pointer;
  outline: none;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

img {
  width: 100%;
}

input,
textarea {
  outline: none;
}

.container {
  max-width: 1320px;
  width: 100%;
  padding: 10px;
  margin: 0 auto;
}

main {
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#8300ff), color-stop(#7c00fb), color-stop(#7400f7), color-stop(#6d00f3), color-stop(#6500ef), color-stop(#9700da), color-stop(#b500c6), color-stop(#c900b5), color-stop(#ec0091), color-stop(#ff0069), color-stop(#ff003f), to(#ff2c00));
  background-image: linear-gradient(to right bottom, #8300ff, #7c00fb, #7400f7, #6d00f3, #6500ef, #9700da, #b500c6, #c900b5, #ec0091, #ff0069, #ff003f, #ff2c00);
  background-size: 200% 200%;
  -webkit-animation: movingGradient 25s linear infinite alternate;
          animation: movingGradient 25s linear infinite alternate;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@-webkit-keyframes movingGradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}

@keyframes movingGradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}

.timer {
  margin-top: 50px;
}

.timer input {
  border: none;
  text-align: center;
  border-radius: 25px;
  padding: 15px;
  font-size: 58px;
  width: 100px;
  background-color: rgba(255, 255, 255, 0.4);
  color: #fff;
  font-family: "Roboto", sans-serif;
  margin: 0 5px;
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 75px;
  font-weight: 400;
}

.btns {
  margin-top: 45px;
  width: 100%;
}

.btns-top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.btns-bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}

.btn {
  font-family: "Roboto", sans-serif;
  margin: 0 5px;
  padding: 16px 35px;
  font-size: 18px;
  min-width: 140px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.btn:disabled {
  opacity: 0.7;
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.btn:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.btn-sound {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  width: 120px;
  height: 120px;
  min-width: 0;
}

.btn-sound img {
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-filter: grayscale(0.75);
          filter: grayscale(0.75);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn-sound[data-status="start"] img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.couthdown {
  font-size: 22px;
  text-align: center;
  color: #fff;
  font-family: "Roboto", sans-serif;
  margin-top: 15px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.couthdown span {
  display: inline-block;
}

.popup {
  max-width: 600px;
  width: 100%;
  font-family: "Roboto", sans-serif;
  border-radius: 15px;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 100;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
}

.popup.active {
  opacity: 1;
  visibility: visible;
}

.popup-buffer {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
}

.popup-buffer.active {
  opacity: 1;
  visibility: visible;
}

@media (hover: hover) {
  .btn:not(:disabled):not(.btn-sound):hover {
    background-color: #2ee59d;
    -webkit-box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
            box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    -webkit-transform: translateY(-7px);
            transform: translateY(-7px);
  }
  .btn-sound:hover {
    -webkit-box-shadow: 0px 5px 20px rgba(255, 255, 255, 0.4);
            box-shadow: 0px 5px 20px rgba(255, 255, 255, 0.4);
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
}

@media screen and (max-width: 1400px) {
  .container {
    max-width: 1140px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .btn:not(.btn-sound) {
    min-width: 120px;
    padding: 12px 26px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    max-width: none;
  }
}

@media screen and (max-width: 480px) {
  .timer input {
    line-height: 1.6em;
    width: 65px;
    font-size: 30px;
    padding: 5px;
    margin: 0;
  }
  .btn {
    font-size: 14px;
  }
  .btn:not(.btn-sound) {
    min-width: 90px;
    padding: 10px 15px;
  }
  .btn-sound {
    width: 100px;
    height: 100px;
  }
}
/*# sourceMappingURL=style.css.map */